body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(back.png);
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;  
}
div {
    text-align: center;
}
.status-bar {
    text-align: center;
    position: relative;
    display:grid;
/* girl idek wtf i did here */
}
.red::before,
.red > .title-bar {
  background-color: #52111c;
}
sup,a {
    font-weight: bold;
    color: #52111c;
}

img {
    height: 2.5em;
    padding-left: 1em;
}
